// import variables
@use "./variables" as *;

// import normalize
@use "./normalize";



@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    @include flex-center();
    flex-direction: column;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
}

.liveResult {
    width: $main-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    border: 2px solid #6c5ce7;
    
    .wrongTry{
        width: 115px;
    }
}

.memory{
    margin-top: 40px;
    width: $main-width;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 150px);
    gap: 10px;

    .card {
       
        position: relative;
        @include flex-center();
        text-align: center;
        line-height: 1.6;
        transform-style: preserve-3d;
        perspective: 700px;
        .frontFace, .backFace{
            position: absolute;
            border: 1px solid;
            backface-visibility: hidden;
            width: 100%;
            height: 100%;
            transition: .3s;
            transform-origin: top center;
            cursor: pointer;
        }

        .backFace{
            //z-index: -1;
            transform: rotateY(180deg);
            line-height: 1.9;
            font-size: 5rem;
            
        }

        .frontFace{
            font-size: 6rem;
            font-weight: bold;
        }

        // &:hover .backFace{
        //     transform: rotateY(0deg);
        // }
        // &:hover .frontFace{
        //     transform: rotateY(-180deg);
        // }

    }
}

.rotate {
    .backFace {
        transform: rotateY(0deg) !important;
    }

    .frontFace{
        transform: rotateY(-180deg);
    }
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @include flex-center();
    background-color: rgba(0, 0, 0, .5);
    
    .start{
        width: 250px;
        font-size: 2rem;
        text-align: center;
        text-transform: capitalize;
        color: white;
        background: #6c5ce7;
        padding: 15px;
        border-radius: 10px;
        cursor: pointer;
        
    }

    .start:hover{
        animation: shudder .5s infinite alternate linear;
    }
    @keyframes shudder {
        10%{
            transform: rotate(-10deg);
        }

        30%{
            transform: rotate(10deg);
        }
        75%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(0deg);
        }

        
    }

}

.win{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, .5);

    .inner{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
    }    

    .statistic{
        width: 350px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        @include flex-center();
        justify-content: space-around;
        flex-direction: column;
        background-color: #dfe6e9;
        border-radius: 10px;
        
        .playAgain{
            width: 150px;
            padding: 10px;
            text-align: center;
            text-transform: capitalize;
            border-radius: inherit;
            background-color: #6c5ce7;
            color: white;
            cursor: pointer;
        }
        h3{
            font-size: 1.5rem;
            color: white;
           
            
            padding: 20px;
            border-radius: 10px;
            background: #6c5ce7;
            text-transform: capitalize;

            span {
                color:#2d3436;
            }
        }
    }

    
    .inner > span{
        position : relative;
        margin: 0 10px;
        border-radius: 50%;
        box-shadow:  0 0 0px 8px rgb(11 150 175),
                     0 0 50px 10px rgb(7 242 255),
                     0 0 100px 10px rgb(6 188 243);
        
        width: 20px;
        height: 20px;
        background: rgb(0, 153, 255);
        animation : flow 10s infinite linear;
        animation-duration: calc(50s / var(--i));
    }

    .inner > span:nth-of-type(even){
        box-shadow:  0 0 0px 8px rgb(175, 11, 148),
                     0 0 20px 0px rgb(255, 7, 102),
                     0 0 100px 9px rgb(243, 6, 6);
        background: rgb(255, 0, 191);
    }

    @keyframes flow {
        from{
            transform: translateY(100vh) scale(0);
        }

        to{
            transform: translateY(-10vh) scale(1);
        }
    }
}